@font-face {
  font-family: "RedHatDisplay";
  src: url("./components/fonts/RedHatDisplay-Regular.ttf");
}

@font-face {
  font-family: "RedHatDisplayBold";
  src: url("./components/fonts/RedHatDisplay-Bold.ttf");
}

.App {
  display: flex;
  text-align: center;
  height: 100vh;
  width: 100vw;
  
  background-size: cover;
  justify-content: center;
  align-items: center;
  font-family: "RedHatDisplayBold";
  font-size: 13px;
  color: hsl(223, 47%, 23%, 0.5);
}

@media (min-width: 738px) {
  .App {
    background-image: url("./components/images/pattern-background-desktop.svg");
  }
}

@media (max-width: 738px) {
  .App {
    background-image: url("./components/images/pattern-background-mobile.svg");
  }
}